#purchased_vouchers{
 
        width: 95%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(4,1fr);
    
}

.voucher{
    height: 420px;
    width: 300px;
    text-align: center;
}

.image{
    height: 55%;
    width: 100%;
}